* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body{
    background-color: #00000017;
    font-family: Arial, sans-serif;
    /* height: 100vh; */
}
.container{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.navbar {
  background-color: #fff;
  width: 100vw;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-color: rgba(0, 0 ,0, 0.9);
}
.icon{
    display: flex;
    align-items: center;
}
.img1{
    height: 41px;
    width: 41px;
}
/* .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
} */
input[type=text] {
    box-sizing: border-box;
    border-radius:4px;
    font-size: 16px;
    background-color: #edf3f8;
    background-image: url('images/search\ \(2\).svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border: none;
    height: 34px;
    width: 280px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 13px;
    margin-left: 100px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-network{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.messaging{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notification{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .img2{
    height: 24px;
    width: 24px;
} */
.business{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-left: 1px solid grey;
    margin-left: 20px;
    padding: 5px;
}
.line{
    font-size: 12px;
    color: #915907;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.main-content{
    background-color: #00000000;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap:30px;
    margin-inline: 200px;
}


.profile-header{
    background-color: #fff;
    /* width: 300px; */
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.profile-img{
    width: 70px;
    height: 70px;
    background-color: #e0e0e0;
    border-radius: 50%;
}
.profile-info p{
    font-size: 12px;
    color: #777;
}
.experience-btn{
    display: block;
    width: 100%;
    text-align: start;
    padding: 5px;
    border: 1px dashed #9eb5ca;
    border-radius: 5px;
    background-color: rgb(221 225 228);
    color: rgb(86, 104, 122);
    margin-top: 15px;
}
.premium{
    background-color: #fff;
    /* width: 300px; */
    gap:5px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.premium p{
    color: rgb(86, 104, 122);
    font-size: 12px;
}
.premium span{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.connection{
    background-color: #fff;
    /* width: 300px; */
    gap:5px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.network{
    color: rgb(86, 104, 122);
    padding-bottom: 10px;
    font-size: 12px;
}
.connect , .invite{
    display: flex;
    justify-content: space-between
}
.links{
    background-color: #fff;
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-top: 10px;
}
.saved, .group, .event{
    display: flex;
    gap: 10px;
    align-items: center;
}

.middle{
    display:grid;
    flex-direction: 1fr auto;
    gap: 30px;
}
.header{
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    border: 1px solid #e0e0e0;
}
.head1{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}
.profile-img2{
    width: 50px;
    height: 45px;
    background-color: #e0e0e0;
    border-radius: 50%;
}
  button{
    border-radius: 25px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100% ;
    color: slategray;
    font-weight: bold;
    padding: 15px 15px;
    text-align: start;
}
.head2{
    display: flex;
    justify-content: space-around;
}
.media2, .event2, .article2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.post{
     border: 1px solid #e0e0e0;
     border-radius: 5px;
     background-color: #fff;
}
.img3{
    height: 50px;
    width:50px;
    border-radius: 50%;
    margin: 10px;
}
.post-header{
    display: flex;
}
.company-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.company-info span{
    font-size: 14px;
    color: rgb(74, 74, 75);
}
.img4{
    padding: 10px;
    margin-left: 220px; 

    /* display: flex;
    align-content: flex-end; */
}
.post-text p{
    padding: 10px;
    font-size:14px ;
}
.img5{
    width: 500px;
    /* padding: 10px; */
}
.right-side{
    background-color: #fff;
    width: 300px;
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.trend-head{
    display: flex;
    justify-content: space-between;
}
.news{
    color: rgb(74, 74, 75);
}
.trending{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.trend-news{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.trend-news span{
    color:rgb(81, 81, 85) ;
    font-size: 14px;
}
.dropdown{
    border: none;
}
.more{
    color: rgb(74, 74, 75);
    font-size: 14px;
}
.puzzle1{
    display: flex;
    gap:5px
}
.puzzle{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.puzzle-text{
    color: rgb(74, 74, 75);
    font-size: 14px;
}
.puzzle-header{
    color: rgb(74, 74, 75);
    font-weight: bold;
    margin-top: 10px;
}